@using System.Text.Json;
<h3>Comment</h3>



@code {
	public class Post {
		public int account { get; set; }
		public int idx { get; set; }
		public string text { get; set; }
	}

	List<Post> postList = new List<Post>();

	[Parameter]
	public int id { get; set; }

	protected override async Task OnInitializedAsync() {
		using(var httpClient = new HttpClient()) {
			var response = await httpClient.GetAsync($"http://localhostinha.kro.kr:8080/api/test/comment/get?post_idx={id}");

			if(response.IsSuccessStatusCode) {

				var contents = await response.Content.ReadAsStringAsync();
				
				postList.Clear();

				JsonDocument jsonDocument = JsonDocument.Parse(contents);

				JsonElement rootElement = jsonDocument.RootElement;
				JsonElement dataElement = rootElement.GetProperty("data");

				foreach(JsonElement element in dataElement.EnumerateArray()) {
					Post locationData = new Post {
							account = element.GetProperty("id").GetInt32(),
							idx = element.GetProperty("user").GetInt32(),
							text = element.GetProperty("title").GetString()!
						};

					postList.Add(locationData);
				}

				jsonDocument.Dispose();

				return;
			}
		}

		return;
	}

}
