@page "/about-us"

<PageTitle>About Us</PageTitle>

<div class="container">
    <div class="about-section">
        <div class="about-image">
            <img src="./assets/images/team_image.png" alt="Team Image" asp-append-version="true">
        </div>
        <div class="about-content">
            <h2>Local Host: INHA</h2>
            <p>
                한국의 1인당 연간 포장용 플라스틱 사용량은 세계에서 <b><i>두 번째</i></b>로 많은 수치라고 합니다.
                저희 팀은 이러한 뉴스 기사를 본 후 쓰레기 배출을 <b><i>0</i></b>에 가깝게 최소화하는 목적으로
                일상생활에서 재사용을 장려하는 캠페인인 zero waste 캠페인에 대해 관심을 가지게 되었습니다.<br>
                <br><b>-제로웨이스트의 구체적인 방법-</b><br>
                개인 용기에 음식 포장하기<br>
                남은 재료를 활용해 요리하기<br>
                옷 수선 <br>
                손수건 이용 <br>
                텀블러, 장바구니 사용 <br>
                플라스틱 빨대 사용 자제<br>
                .<br>
                .<br>
                .<br>
                <br>
                <b><i>이제 우리의 손으로 zero waste를 할 때!</i></b><br>
                <b><i>모두가 행복하기 위한 Happy Zero를 실현할 때!</i></b>
            </p>
        </div>
    </div>
</div>

@code {

}
