@inherits LayoutComponentBase

<PageTitle>Happy Zero</PageTitle>

<nav class="navbar">
    <div class="navbar-container container">
        <NavMenu />
    </div>

    <main class="vw-100">
        <article class="content px-4">
            @Body
        </article>
    </main>
</nav>
