*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
}

@media (max-width: 1100px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }
}