<input type="checkbox">
<div class="lines">
    <span class="line line1"></span>
    <span class="line line2"></span>
    <span class="line line3"></span>
</div>
<ul class="menu-items">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Zero-Waste Shop</a></li>
    <li><a href="#">Certification</a></li>
    <li><a href="#">Community</a></li>
    <li><a href="#">Others</a></li>

    <div class="menuicons">
        <a href="/login"> <i class="fa fa-user"></i></a>
    </div>
</ul>
<a href="/"><h1 class="logo">Hz</h1></a>
